@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

/* Common style stuff. */
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Droid Serif';
}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  margin-bottom: 0;
}

.remark-slide-content {
    font-size: 22px;
}

.footnote {
  position: absolute;
  bottom: 2em;
}

/* Slide style */
.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

.slide-regular {
    padding: 20%;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 25%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child, .left-column h4:last-child{
    color: #000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.left50 {
  width:50%;
  float:left;
  padding-top: 1em;
}

.right50 {
  width: 50%;
  float: right;
  padding-top: 1em;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.container img {
  display:inline;
  vertical-align: middle;
}

.imageclass {
  margin: auto;
  display:block;
  max-width: 80%;
}

.center {
  text-align: center;
}

blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 30px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0);
  border-radius: 10px 10px 10px 10px;
  color: rgb(77, 77, 77);
}

blockquote p {
  padding: 0;
  margin: 0;
}

.summary {
  display: block;
  position: absolute;
  border-color: red;
  border-radius: 15px;
  border-style: solid;
  margin: auto;
  padding: 50px;
  bottom: 100px;
  left: 100px;
  background-color: white;
}

.summary h3 {
  padding: 0;
  margin: 0;
}